.one{
    background-color: black;
    display: block;
    color: rgb(99, 35, 159);
    height: 100px;
    align-items: center;
    display: flex;
}
.one button{
    background-color: rgb(98, 42, 151);
    color: white;
    width: 120px;
    height: 50px;
    margin-bottom: 15px;
}
ul,li,h1{
    display: inline;
    font-family: sans-serif;
    }
li{
    padding-right: 15px;
}
button:hover{
    border: solid 2px;
    border-color: bisque;
    border-radius: 60px;
    transition: 0.5s;
}
ul{
    margin-left: 350px;
}
button{
    cursor:pointer;
}
